NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_TTS_BUCKET=tts-audio
DICTATION_ADMIN_PASSWORD=
BAIDU_SPEECH_API_KEY=
BAIDU_SPEECH_SECRET_KEY=
BAIDU_SPEECH_CUID=english-exercise-server
